<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="/stylesheets/admin/bookings.css" />
        <link
            rel="stylesheet"
            href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
        />
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
        <title>Document</title>
    </head>
    <body>
        <%- include("../header") %>
        <h1>bookings</h1>
        <table>
            <tr>
                <th>Namn</th>
                <th>Biljetttyp</th>
                <th>Sittplats</th>
                <th>Betald</th>
            </tr>
            <% for (const book of bookings) { %>
            <tr>
                <td><%= `${book.User.Name} ${book.User.Surname}` %></td>
                <td><%= book.Type %></td>
                <td><%= book.SeatId ? book.SeatId : "-" %></td>
                <td><%= book.Paid ? "ja" : "nej" %></td>
                <% if (!book.Paid) { %>
                <td>
                    <form
                        id="markPaid"
                        action="/api/v1/bookings/paid"
                        method="post"
                    >
                        <input
                            hidden
                            type="text"
                            name="booking"
                            id=""
                            value="<%= book.Id %>"
                        />
                        <input
                            name="reason"
                            type="text"
                            placeholder="anledning"
                        />
                        <button type="submit">Markera som betald</button>
                    </form>
                </td>

                <% } else { %>
                <td><%= book.SwishId %></td>
                <% } %>
                <td>
                    <form
                        id="removeBooking"
                        action="/api/v1/bookings/remove"
                        method="post"
                    >
                        <input
                            hidden
                            type="text"
                            name="booking"
                            id=""
                            value="<%= book.Id %>"
                        />
                        <button type="submit">avboka</button>
                    </form>
                </td>
            </tr>
            <% } %>
        </table>

        <script src="/javascripts/admin/bookings.js"></script>
    </body>
</html>
